{% extends "base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block body %}

<div class="container-fluid">

<h1>Welcome to the page for {{current_user.username}}</h1>
<img src="{{profile_image}}" alt="" >
<form method=post enctype="multipart/form-data">
    <dl>
      {{form.hidden_tag()}}
      {{ render_field(form.email) }}
      {{ render_field(form.username) }}
<br>
      <input class="btn btn-success" type="submit" value="Submit">
    </dl>
    
  </form>

</div>


{% endblock  %}