{% extends "base.html" %}

{% block body %}

<div class="container">

    <div class="jumbotron">
        <h1>'  Welcome to the Witcher Universe !!!!'</h1>
        <img src="{{url_for('static',filename='960x0.jpg')}}" alt="">

    </div>
</div>


{% endblock  %}