{% extends "base.html" %}
{% from "helpers/_formhelpers.html" import render_field %}

{% block body %}

<div class="container">
<form method=post>
  <dl>
  {{form.hidden_tag()}}
    {{ render_field(form.email) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.pass_confirm) }} <br>
    <input class="btn btn-success" type="submit" value="Submit">
  </dl>
  
</form>

</div>


{% endblock  %}