{% extends "base.html" %}

{% block body %}

<div class="container">

<div class="jumbotron">

<h1>Welcome to the page for {{user.username}}</h1>
<img src="{{url_for('static',filename='profile_pics/'+user.profile_image)}}" alt="">


</div>


    {% for post in blog_post.items %}

    <h2><a href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">{{post.title}}</a></h2>
    <small>Written by : <a href="#">{{post.author.username}}</a></small>

    {% endfor %}

</div>

{% endblock  %}